<div class="container-fluid">

<div>
	<h1> Welcome to GreenXchange </h1>
</div>


	<div class="row">
	        <div class="span5">
	          <h2>Home Page Stuff</h2>
	       	</div>
		<div class="span3">
			<div class="external_links_bar">
	        	<div class="well sidebar-nav">
		            <ul class="nav nav-list">
		              <li class="nav-header">External Links</li>
		              <li class="nav-header"><a href="http://www.iffcotokio.co.in/">Iffco-Tokio</a></li>
		              <li class="nav-header"><a href="http://www.nafed-india.com/">NAFED</a></li>
		            </ul>
	        	</div><!--/.well -->
	        </div>	
		</div><!--/span-->
    </div>
</div>

<style>
.external_links_bar{
	margin-top: 1em;	/*align the external links bar with services side bar*/
	border-style: solid;
	border-color: rgb(100,200,75);
}
</style>