<h1>News</h1>

<!--<div class="container-fluid">
	
	<object data="GreexPage-3.pdf" type="application/pdf" width="900" height="1200">
	  alt : <a href="GreexPage-3.pdf">test.pdf</a>
	</object>

</div> 					-->		<!--figure out how to make this responsive, if possible-->

<!--<a href="GreexPage-3.pdf">Click Me</a>
<p><%=@pdf_filename %></p>-->

<object >
	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
<META name="generator" content="BCL easyConverter SDK 3.0.60">
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 48px 0px 105px 0px;padding: 0px;border: none;width: 816px;height: 903px;}
#page_1 #id_1 {border:none;margin: 12px 0px 0px 0px;padding: 0px;border:none;width: 816px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 96px 0px 0px 57px;padding: 0px;border:none;width: 759px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 4px 0px 0px 0px;padding: 0px;border:none;width: 181px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 578px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 1px 0px 0px 82px;padding: 0px;border:none;width: 734px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:48px;z-index:-1;width:720px;height:903px;}
#page_1 #dimg1 #img1 {width:720px;height:903px;}




#page_2 {position:relative; overflow: hidden;margin: 36px 0px 76px 36px;padding: 0px;border: none;width: 780px;}
#page_2 #id_1 {border:none;margin: 39px 0px 0px 28px;padding: 0px;border:none;width: 752px;overflow: hidden;}
#page_2 #id_1 #id_1_1 {float:left;border:none;margin: 18px 0px 0px 0px;padding: 0px;border:none;width: 354px;overflow: hidden;}
#page_2 #id_1 #id_1_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 398px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 12px 0px 0px 25px;padding: 0px;border:none;width: 755px;overflow: hidden;}
#page_2 #id_2 #id_2_1 {float:left;border:none;margin: 17px 0px 0px 0px;padding: 0px;border:none;width: 240px;overflow: hidden;}
#page_2 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 515px;overflow: hidden;}

#page_2 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:723px;height:760px;}
a#page_2 #dimg1 #img1 {width:723px;height:760px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: italic 10px 'Georgia';line-height: 13px;}
.ft1{font: italic 13px 'Georgia';line-height: 16px;}
.ft2{font: bold 13px 'Georgia';line-height: 16px;}
.ft3{font: 36px 'Georgia';line-height: 41px;}
.ft4{font: bold 18px 'Georgia';color: #ffffff;line-height: 21px;}
.ft5{font: 1px 'Georgia';line-height: 1px;}
.ft6{font: 11px 'Georgia';line-height: 12px;}
.ft7{font: bold 11px 'Georgia';line-height: 12px;}
.ft8{font: 11px 'Georgia';line-height: 13px;}
.ft9{font: bold 11px 'Georgia';line-height: 13px;}
.ft10{font: 1px 'Georgia';line-height: 5px;}
.ft11{font: 11px 'Georgia';line-height: 14px;}
.ft12{font: 10px 'Georgia';line-height: 13px;}
.ft13{font: 10px 'Georgia';margin-left: 16px;line-height: 13px;}
.ft14{font: 10px 'Georgia';margin-left: 15px;line-height: 13px;}
.ft15{font: 11px 'Georgia';margin-left: 15px;line-height: 14px;}
.ft16{font: bold 18px 'Georgia';line-height: 21px;}
.ft17{font: bold 15px 'Georgia';line-height: 18px;}
.ft18{font: 12px 'Georgia';line-height: 15px;}
.ft19{font: italic bold 12px 'Georgia';line-height: 15px;}
.ft20{font: 12px 'Georgia';margin-left: 15px;line-height: 15px;}
.ft21{font: 12px 'Georgia';margin-left: 14px;line-height: 15px;}
.ft22{font: bold 12px 'Georgia';line-height: 15px;}
.ft23{font: italic bold 13px 'Georgia';line-height: 16px;}
.ft24{font: 12px 'Symbol';line-height: 15px;}
.ft25{font: 10px 'Georgia';margin-left: 19px;line-height: 14px;}
.ft26{font: 10px 'Georgia';line-height: 14px;}
.ft27{font: 13px 'Symbol';line-height: 15px;}
.ft28{font: 12px 'Georgia';margin-left: 19px;line-height: 15px;}
.ft29{font: 13px 'Symbol';line-height: 16px;}
.ft30{font: 12px 'Georgia';margin-left: 18px;line-height: 15px;}
.ft31{font: 12px 'Georgia';line-height: 14px;}
.ft32{font: 12px 'Georgia';line-height: 13px;}
.ft33{font: 10px 'Georgia';line-height: 16px;}
.ft34{font: bold 10px 'Georgia';line-height: 13px;}
.ft35{font: 18px 'Georgia';line-height: 21px;}
.ft36{font: 12px 'Georgia';line-height: 16px;}
.ft37{font: italic 13px 'Georgia';margin-left: 16px;line-height: 16px;}
.ft38{font: italic 11px 'Georgia';line-height: 14px;}
.ft39{font: italic 13px 'Georgia';margin-left: 14px;line-height: 16px;}
.ft40{font: italic 13px 'Georgia';margin-left: 15px;line-height: 16px;}
.ft41{font: bold 22px 'Georgia';line-height: 27px;}
.ft42{font: 12px 'Georgia';margin-left: 17px;line-height: 15px;}
.ft43{font: italic bold 12px 'Georgia';line-height: 14px;}
.ft44{font: italic bold 13px 'Georgia';line-height: 17px;}

.p0{text-align: left;padding-left: 182px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: right;padding-right: 124px;margin-top: 21px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 542px;margin-top: 8px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 156px;margin-top: 20px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 53px;padding-right: 51px;margin-top: 0px;margin-bottom: 0px;text-indent: -21px;}
.p5{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: right;padding-right: 21px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 1px;margin-top: 16px;margin-bottom: 0px;}
.p10{text-align: justify;padding-left: 1px;padding-right: 63px;margin-top: 13px;margin-bottom: 0px;}
.p11{text-align: justify;padding-left: 25px;padding-right: 38px;margin-top: 15px;margin-bottom: 0px;text-indent: -24px;}
.p12{text-align: justify;padding-left: 25px;padding-right: 28px;margin-top: 16px;margin-bottom: 0px;text-indent: -24px;}
.p13{text-align: left;padding-left: 25px;padding-right: 35px;margin-top: 13px;margin-bottom: 0px;text-indent: -24px;}
.p14{text-align: justify;padding-left: 25px;padding-right: 42px;margin-top: 15px;margin-bottom: 0px;text-indent: -24px;}
.p15{text-align: justify;padding-left: 25px;padding-right: 38px;margin-top: 16px;margin-bottom: 0px;text-indent: -24px;}
.p16{text-align: justify;padding-left: 1px;margin-top: 13px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 3px;padding-right: 79px;margin-top: 0px;margin-bottom: 0px;}
.p18{text-align: left;padding-left: 3px;margin-top: 6px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 3px;margin-top: 14px;margin-bottom: 0px;}
.p20{text-align: justify;padding-left: 3px;margin-top: 14px;margin-bottom: 0px;}
.p21{text-align: justify;padding-left: 3px;margin-top: 13px;margin-bottom: 0px;}
.p22{text-align: left;padding-left: 6px;margin-top: 31px;margin-bottom: 0px;}
.p23{text-align: left;padding-left: 54px;padding-right: 247px;margin-top: 14px;margin-bottom: 0px;text-indent: -48px;}
.p24{text-align: justify;padding-left: 54px;padding-right: 138px;margin-top: 13px;margin-bottom: 0px;text-indent: -48px;}
.p25{text-align: justify;padding-left: 54px;margin-top: 1px;margin-bottom: 0px;}
.p26{text-align: justify;padding-left: 6px;margin-top: 12px;margin-bottom: 0px;}
.p27{text-align: left;padding-left: 54px;margin-top: 0px;margin-bottom: 0px;}
.p28{text-align: left;padding-right: 69px;margin-top: 29px;margin-bottom: 0px;}
.p29{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p30{text-align: left;padding-left: 15px;margin-top: 0px;margin-bottom: 0px;}
.p31{text-align: left;padding-left: 100px;margin-top: 243px;margin-bottom: 0px;}
.p32{text-align: left;margin-top: 77px;margin-bottom: 0px;}
.p33{text-align: left;padding-right: 22px;margin-top: 13px;margin-bottom: 0px;text-indent: 48px;}
.p34{text-align: left;padding-right: 24px;margin-top: 14px;margin-bottom: 0px;text-indent: 48px;}
.p35{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;}
.p36{text-align: justify;padding-left: 4px;margin-top: 21px;margin-bottom: 0px;}
.p37{text-align: justify;padding-left: 4px;margin-top: 22px;margin-bottom: 0px;}
.p38{text-align: left;margin-top: 94px;margin-bottom: 0px;}
.p39{text-align: left;margin-top: 13px;margin-bottom: 0px;}
.p40{text-align: left;margin-top: 14px;margin-bottom: 0px;}
.p41{text-align: justify;margin-top: 21px;margin-bottom: 0px;}
.p42{text-align: justify;margin-top: 15px;margin-bottom: 0px;}
.p43{text-align: left;padding-left: 225px;margin-top: 0px;margin-bottom: 0px;}
.p44{text-align: left;padding-right: 317px;margin-top: 1px;margin-bottom: 0px;}
.p45{text-align: left;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p46{text-align: left;padding-right: 304px;margin-top: 12px;margin-bottom: 0px;}

.td0{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #000000;}
.td1{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 120px;vertical-align: bottom;}
.td2{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 29px;vertical-align: bottom;}
.td3{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #000000;}
.td4{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 120px;vertical-align: bottom;}
.td5{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 29px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #000000;}
.td7{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 120px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 29px;vertical-align: bottom;}
.td9{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 120px;vertical-align: bottom;background: #000000;}
.td10{padding: 0px;margin: 0px;width: 29px;vertical-align: bottom;background: #000000;}
.td11{padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 121px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 53px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 174px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 96px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 43px;vertical-align: bottom;}
.td17{padding: 0px;margin: 0px;width: 42px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 231px;vertical-align: bottom;}
.td19{padding: 0px;margin: 0px;width: 222px;vertical-align: bottom;}
.td20{padding: 0px;margin: 0px;width: 213px;vertical-align: bottom;}

.tr0{height: 14px;}
.tr1{height: 25px;}
.tr2{height: 15px;}
.tr3{height: 16px;}
.tr4{height: 20px;}
.tr5{height: 5px;}
.tr6{height: 31px;}
.tr7{height: 32px;}
.tr8{height: 34px;}
.tr9{height: 29px;}
.tr10{height: 28px;}
.tr11{height: 17px;}
.tr12{height: 19px;}

.t0{width: 162px;margin-top: 9px;font: 11px 'Georgia';}
.t1{width: 198px;margin-top: 16px;font: 12px 'Georgia';}
.t2{width: 181px;margin-top: 13px;font: 12px 'Georgia';}
.t3{width: 453px;margin-top: 15px;font: 12px 'Georgia';}
.t4{width: 444px;margin-top: 9px;font: 12px 'Georgia';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">
<DIV id="dimg1">
<IMG src="GreexPage-3_images/GreexPage-31x1.jpg" id="img1">
</DIV>


<DIV class="dclr"></DIV>
<DIV id="id_1">
<P class="p0 ft0">G r e e n E x c h a n g e . i n</P>
<P class="p1 ft1">G r e e n E x c h a n g e .</P>
<P class="p2 ft2">Vol 1 Issue 2</P>
<P class="p3 ft3">Know your market</P>
</DIV>
<DIV id="id_2">
<DIV id="id_2_1">
<P class="p4 ft4">Inside this issue:</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr0 td1"><P class="p6 ft6">Introduction</P></TD>
	<TD class="tr0 td2"><P class="p7 ft7">1</P></TD>
	<TD class="tr0 td0"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td3"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td4"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td5"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td3"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td6"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p6 ft8">Present AMS</P></TD>
	<TD class="tr2 td8"><P class="p8 ft9">1</P></TD>
	<TD class="tr2 td6"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td3"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td4"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td5"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td3"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td6"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p6 ft8">Regulations</P></TD>
	<TD class="tr3 td8"><P class="p8 ft9">1</P></TD>
	<TD class="tr3 td6"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td3"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td4"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td5"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td3"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td6"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p6 ft8">OCEIL & NBT</P></TD>
	<TD class="tr2 td8"><P class="p8 ft9">1</P></TD>
	<TD class="tr2 td6"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td3"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td4"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td5"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td3"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td6"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p6 ft6">Organized & Big B’s</P></TD>
	<TD class="tr2 td8"><P class="p8 ft7">2</P></TD>
	<TD class="tr2 td6"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td3"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td4"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td5"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr1 td3"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td6"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p6 ft8">Indian food market</P></TD>
	<TD class="tr3 td8"><P class="p8 ft9">2</P></TD>
	<TD class="tr3 td6"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td3"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr4 td4"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr4 td5"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr4 td3"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td6"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p6 ft8">Experts saying</P></TD>
	<TD class="tr2 td8"><P class="p8 ft9">2</P></TD>
	<TD class="tr2 td6"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td6"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr4 td7"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr4 td8"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr4 td6"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td6"><P class="p5 ft10">&nbsp;</P></TD>
	<TD class="tr5 td9"><P class="p5 ft10">&nbsp;</P></TD>
	<TD class="tr5 td10"><P class="p5 ft10">&nbsp;</P></TD>
	<TD class="tr5 td6"><P class="p5 ft10">&nbsp;</P></TD>
</TR>
</TABLE>
<P class="p9 ft11">Regulations</P>
<P class="p10 ft12"><SPAN class="ft12">1.</SPAN><SPAN class="ft13">Forward Contracts Regulation Act 1952</SPAN></P>
<P class="p11 ft12"><SPAN class="ft12">2.</SPAN><SPAN class="ft14">Prevention of food adul- teration Act 1954</SPAN></P>
<P class="p12 ft11"><SPAN class="ft12">3.</SPAN><SPAN class="ft15">Essential commodities Act 1955</SPAN></P>
<P class="p13 ft12"><SPAN class="ft12">4.</SPAN><SPAN class="ft14">Export (Quality Control and Inspection) Act 1963</SPAN></P>
<P class="p14 ft12"><SPAN class="ft12">5.</SPAN><SPAN class="ft14">Standard of weight and measures Act 1976</SPAN></P>
<P class="p15 ft11"><SPAN class="ft12">6.</SPAN><SPAN class="ft15">Consumer Protection Act 1986</SPAN></P>
<P class="p16 ft11"><SPAN class="ft12">7.</SPAN><SPAN class="ft15">Bureau of Indian Standard</SPAN></P>
</DIV>
<DIV id="id_2_2">
<P class="p17 ft16">Extract from Study on Fruits and vegetables marketing infrastructure. NIRD</P>
<P class="p18 ft17">Introduction</P>
<P class="p19 ft19"><SPAN class="ft18">I </SPAN>Cause for fluctuating prices <SPAN class="ft18">:-</SPAN></P>
<P class="p20 ft18"><SPAN class="ft12">1.</SPAN><SPAN class="ft20">Low efficiency in market channel.</SPAN></P>
<P class="p21 ft18"><SPAN class="ft12">2.</SPAN><SPAN class="ft21">Inadequate market infrastructure.</SPAN></P>
<P class="p19 ft19"><SPAN class="ft22">II </SPAN>Present condition</P>
<P class="p21 ft18"><SPAN class="ft12">1.</SPAN><SPAN class="ft20">85% of organized market handled by </SPAN><NOBR>pre-harvest</NOBR> contractors</P>
<P class="p20 ft18"><SPAN class="ft12">2.</SPAN><SPAN class="ft21">80 % of mango market in AP by PHC s (Das & Ghosh ‘96)</SPAN></P>
<P class="p21 ft18"><SPAN class="ft12">3.</SPAN><SPAN class="ft21">By self marketing </SPAN><NOBR>43-85</NOBR> % additional returns achieved (Subramanyam ‘86)</P>
<P class="p20 ft18"><SPAN class="ft12">4.</SPAN><SPAN class="ft21">Per capita consumption of fruits min 120g/day actual 74g (ICMR New Delhi)</SPAN></P>
<P class="p21 ft18"><SPAN class="ft12">5.</SPAN><SPAN class="ft21">Per capita consumption of Vegetables min 300g/day actual 207g (NIN Hyderabad)</SPAN></P>
<P class="p22 ft23">Present Agricultural marketing System</P>
<P class="p23 ft26"><SPAN class="ft24"></SPAN><SPAN class="ft25">Agri </SPAN><NOBR>co-operative</NOBR> marketing societies (In four Tier) Local , District level, State level and Apex (NAFED)</P>
<P class="p24 ft18"><SPAN class="ft27"></SPAN><SPAN class="ft28">Regulated markets APMC (under state Agricultural marketing regulation Act) 7161 Market yards / sub market yard (Whole sale)</SPAN></P>
<P class="p25 ft18">4091 Rural Periodical market (retail and whole sale)</P>
<P class="p26 ft18"><SPAN class="ft29"></SPAN><SPAN class="ft30">Public trading and Future trading</SPAN></P>
<P class="p27 ft31">Forward market commission (middle level)</P>
<P class="p27 ft31">Dep. Of Consumer Affair (Apex)</P>
<P class="p27 ft32">MO Consumer Affair</P>
<P class="p27 ft31">Food and Public Distribution</P>
<P class="p27 ft18">Govt. of India</P>
<P class="p28 ft33">Online Commodity Exchange of India Ltd. And National board of Trade has the national status among 19 commodity exchanges which has permission of future trading in 42 commodities.</P>
</DIV>
</DIV>
<DIV id="id_3">
<P class="p29 ft11">Act 1986</P>
</DIV>
</DIV>
<DIV id="page_2">
<DIV id="dimg1">
<IMG src="GreexPage-3_images/GreexPage-32x1.jpg" id="img1">
</DIV>


<DIV class="dclr"></DIV>
<DIV id="id_1">
<DIV id="id_1_1">
<P class="p30 ft34">GreenExchange.in</P>
<P class="p31 ft35">GreenExchange.in</P>
<P class="p32 ft18">Rangarajan says , (1997)</P>
<P class="p33 ft36">Storage for Fruits and Vegetables Only 10% on availa- ble & Processing 1% in India . Malaysia 83%, Philipines 78%, Brazil 70%</P>
<P class="p34 ft18">For Fruits and Vegetables 14 000 market yards need- ed to achieve 30 % of food market in India</P>
</DIV>
<DIV id="id_1_2">
<P class="p35 ft1">Organized markets (six retail chain market)</P>
<P class="p36 ft1"><SPAN class="ft0">1.</SPAN><SPAN class="ft37">Hyper market 24</SPAN></P>
<P class="p37 ft1"><SPAN class="ft38">2.</SPAN><SPAN class="ft39">Super market 358</SPAN></P>
<P class="p36 ft1"><SPAN class="ft38">3.</SPAN><SPAN class="ft39">Super centre</SPAN></P>
<P class="p37 ft1"><SPAN class="ft0">4.</SPAN><SPAN class="ft39">Ware house dubs</SPAN></P>
<P class="p36 ft1"><SPAN class="ft38">5.</SPAN><SPAN class="ft39">Discount stores 464</SPAN></P>
<P class="p37 ft1"><SPAN class="ft38">6.</SPAN><SPAN class="ft39">Convenience stores 240</SPAN></P>
<P class="p36 ft1"><SPAN class="ft0">7.</SPAN><SPAN class="ft40">Pop & Mom Store</SPAN></P>
<P class="p38 ft18">Chengappa says (2007)</P>
<P class="p39 ft18">5 Million whole sale traders</P>
<P class="p40 ft18">11.2 Million Retailers of Agri Commodities</P>
<P class="p39 ft18">3.7 Food Retail outlet having turnover of 7400 billion</P>
<P class="p40 ft18">17 Million unorganized vendors</P>
</DIV>
</DIV>
<DIV id="id_2">
<DIV id="id_2_1">
<P class="p29 ft41">Big B’s in Market</P>
<P class="p41 ft18"><SPAN class="ft29"></SPAN><SPAN class="ft42">Food world</SPAN></P>
<P class="p42 ft18"><SPAN class="ft29"></SPAN><SPAN class="ft42">Nilgris</SPAN></P>
<P class="p42 ft18"><SPAN class="ft29"></SPAN><SPAN class="ft42">Subheksha</SPAN></P>
<P class="p42 ft18"><SPAN class="ft29"></SPAN><SPAN class="ft42">Fab Mall</SPAN></P>
<P class="p42 ft18"><SPAN class="ft29"></SPAN><SPAN class="ft42">Giant</SPAN></P>
<P class="p42 ft18"><SPAN class="ft29"></SPAN><SPAN class="ft42">E chapals & E </SPAN><NOBR>Sagars—ITC</NOBR></P>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr3 td11"><P class="p5 ft27"></P></TD>
	<TD class="tr3 td12"><P class="p5 ft31">Krishi Vihar -</P></TD>
	<TD class="tr3 td13"><P class="p5 ft31">M&M</P></TD>
</TR>
<TR>
	<TD class="tr6 td11"><P class="p5 ft27"></P></TD>
	<TD colspan=2 class="tr6 td14"><P class="p5 ft31">Aadhaars - Godrej Agro</P></TD>
</TR>
<TR>
	<TD class="tr7 td11"><P class="p5 ft27"></P></TD>
	<TD class="tr7 td12"><P class="p5 ft18">Kisan Sansars</P></TD>
	<TD class="tr7 td13"><P class="p5 ft18">- TATA</P></TD>
</TR>
<TR>
	<TD class="tr8 td11"><P class="p5 ft29"></P></TD>
	<TD class="tr8 td12"><P class="p5 ft18">Reliance Fresh</P></TD>
	<TD class="tr8 td13"><P class="p5 ft12">- Reliance</P></TD>
</TR>
</TABLE>
</DIV>
<DIV id="id_2_2">
<P class="p43 ft43">INDIAN Food Market</P>
<P class="p44 ft44">Farmers Share on consumer rupee</P>
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD class="tr2 td15"><P class="p5 ft31">Market</P></TD>
	<TD class="tr2 td16"><P class="p5 ft31">Veg</P></TD>
	<TD class="tr2 td17"><P class="p45 ft31">Fruit</P></TD>
</TR>
<TR>
	<TD class="tr9 td15"><P class="p5 ft31">Ahmedabad</P></TD>
	<TD class="tr9 td16"><P class="p5 ft31"><NOBR>41—69</NOBR></P></TD>
	<TD class="tr9 td17"><P class="p45 ft12"><NOBR>25—53</NOBR></P></TD>
</TR>
<TR>
	<TD class="tr10 td15"><P class="p5 ft31">Chennai</P></TD>
	<TD class="tr10 td16"><P class="p5 ft31"><NOBR>40—61</NOBR></P></TD>
	<TD class="tr10 td17"><P class="p45 ft12">41– 68</P></TD>
</TR>
<TR>
	<TD class="tr7 td15"><P class="p5 ft18">Kolkota</P></TD>
	<TD class="tr7 td16"><P class="p5 ft18">46 <NOBR>–61</NOBR></P></TD>
	<TD class="tr7 td17"><P class="p45 ft18"><NOBR>56-82</NOBR></P></TD>
</TR>
</TABLE>
<P class="p46 ft18">High % means low efficiency in market- ing system</P>
<TABLE cellpadding=0 cellspacing=0 class="t3">
<TR>
	<TD class="tr3 td18"><P class="p5 ft31">Facilities for efficient trading in Rural</P></TD>
	<TD class="tr3 td19"><P class="p5 ft31">35 000 Modern rice mill</P></TD>
</TR>
<TR>
	<TD class="tr0 td18"><P class="p5 ft31">Periodical Market (RPM) is absent</P></TD>
	<TD class="tr0 td19"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td18"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr0 td19"><P class="p5 ft31">20000 Pulse polishing mills</P></TD>
</TR>
<TR>
	<TD class="tr0 td18"><P class="p5 ft31">7161 Market yards/ sub market yard</P></TD>
	<TD class="tr0 td19"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td18"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr2 td19"><P class="p5 ft12">5198 Fruits and Vegetable Processing unit</P></TD>
</TR>
<TR>
	<TD class="tr0 td18"><P class="p5 ft31">are ill equipped, inadequate and mis-</P></TD>
	<TD class="tr0 td19"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td18"><P class="p5 ft18">managed</P></TD>
	<TD class="tr4 td19"><P class="p5 ft18">400 Fish Processing unit</P></TD>
</TR>
</TABLE>
<TABLE cellpadding=0 cellspacing=0 class="t4">
<TR>
	<TD class="tr3 td18"><P class="p5 ft31">APM regulation on contract farming</P></TD>
	<TD class="tr3 td20"><P class="p5 ft12">Doing 8% of food Product processing in</P></TD>
</TR>
<TR>
	<TD class="tr11 td18"><P class="p5 ft31">hampered farmers linkage with the up</P></TD>
	<TD class="tr11 td20"><P class="p5 ft31">INDIA</P></TD>
</TR>
<TR>
	<TD class="tr12 td18"><P class="p5 ft18">coming market</P></TD>
	<TD class="tr12 td20"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
</DIV>
</DIV>
</BODY>
</HTML>

	
</object>

