<h1>Services</h1>
	<div class="tabs">
    <ol class="tab-links">
        <li class="active"><a href="#tab1">GreenXchange</a></li>
        <li><a href="#tab2">BrownXchange</a></li>
        <li><a href="#tab3">GrainXchange</a></li>
        
    </ol>
 
  <div class="span9">
    <div class="tab-content">
    	<div id="tab1" class="tab active">
            <p>tab 1 content</p>
        </div>
 
        <div id="tab2" class="tab">
            <p>tab 2 content</p>
        </div>
 
        <div id="tab3" class="tab">
            <p>tab 3 content</p>
        </div>
  </div>
        
    </div>
</div>