<h1>Services</h1>


<ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">GreenXchange</a></li>
  <li><a href="#tab2" data-toggle="tab">BrownXchange</a></li>
  <li><a href="#tab3" data-toggle="tab">GrainXchange</a></li>
</ul>

<!-- Tab panes -->
    <div class="tab-content">
        <div class ="tab-pane active" id ="tab1">
             <p>tab 1 content</p>
        </div>
        <div class ="tab-pane " id = "tab2">
             <p>tab 2 content</p>
        </div>
        <div class ="tab-pane " id = "tab3">
             <p>tab 3 content</p>
        </div>
    </div>
