/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
*= require_tree .
/*
 *= require bootstrap_and_overrides
 */
body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

.span3 {				/*todo:- make the css selector selct only the services side bar*/ 
 	margin-top: 8em;	/*to bring the services side bar down below the heading*/
 }

 .navbar-fixed-bottom .navbar-inner {
 	min-height: unset;
 }
 #bottom li{
	display: inline-table;
	min-width: 80px;
}
 #bottom ul li{
	display: block;
}
#bottom ol{
    margin: 0 0 0 10px;

 }
 #bottom ul{
     border-right-color: black;
    border-right-width: 5px;
}

 form label{
	display: inline;
	}
#newUser label{
	font-size: 12px;
}

#newUser{
	padding: 10px;
}

